/**/
button, label{
  margin-top: 10px;
}
body{
    background-color: white;
}
.jumbotron{
    background-color: #fff; 
}
font{
    color: #000;
}
.btn{
    width: 100%;
    height: 50px;
}
#enviar{
 background-color: black;
}
#listar{
  background-color: red;
}